*{
    margin: 0;
    padding: 0;
}
body{
	
}
nav{
  
    background-color: black;
    color: white;
    padding: 15px;

}
li,h1,ul,.li,.logout{
	
    display: inline;
}
li{
   
    color: gray;
    cursor: pointer;
}
li:hover,.logout:hover{
    color: white;
}
ul {
	
    margin-left: 70%;
}
input{
    width: 60%;
    padding: 15px;
}
.searchbar{
   padding: 50px;
    text-align: center;
}
.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 220px;
}
.box:hover{
    background-color: black;
    color: white;
}
.product{
    margin-left:  30px;
    padding: 20px;
    text-align: center;
}

.about{
    text-align: center;
    margin-top: 20px;

}
.contact{
    background-color: black;
    color: white;
    text-align: center;
}
.li{
    padding: 10px;
   
}
.logout{
    background-color: black;
    color: gray;
    padding: 0px;
    width: 45px;
    height: 17;
    margin-left: 7px;
    cursor: pointer;
    
    border: 0px;
   
}
.header{
	background-size: cover;
}
.cart{
	 color: gray;
}
.marquee{
	padding:5px;
	margin-top: 2px;
}